html {
	background: url("../img/background.jpg") no-repeat left center rgb(43, 43, 43);
	background-size: cover;
	background-attachment: fixed;
}

.main-header {
	background: rgb(43, 43, 43);
	text-align: center;
	padding: .5rem 1rem;
	font-weight: 700;
	font-size: 1.25em;
}

.main-inner {
	max-width: 1000px;
	padding: .5rem 1rem;
	margin: 0 auto;
	position: relative;
}

.tv {
	position: relative;
}

.tv>img {
	z-index: 2;
	position: relative;
}

.tv-show {
	position: absolute;
	top: 10%;
	left: 6.5%;
	z-index: 0;
	width: 68%;
}
.message {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	transition: all .15s cubic-bezier(.33,.66,.66,1);
}
.message.show {
	display: table;
	opacity: 1;
}
.message.hide {
	display: table;
	opacity: 0;

}

.game-content {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
	margin: .5rem 0;
	padding: 1rem;
}

.answers li {
	background-color: #BAA071;
	padding: .25rem .5rem;
	color: white;
}



/* -- Start Screen -- */

.start-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #BAA071;
	z-index: 10;
	background: url("../img/background.jpg") no-repeat left;
	background-size: cover; 
}

/* -- Footer -- */

.main-footer {
	background: rgb(43, 43, 43);
	text-align: center;
	padding: 1rem;
}

/* -- Sticky Footer -- */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* Avoid the IE 10-11 `min-height` bug. */
}

main {
	flex: 1 0 auto;
	/* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.main-footer {
	flex-shrink: 0;
	/* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}